@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --bg-color: #000032;
    --main-blue: #1E4FC6;
    --primary-color: #fff;
    --main-font: "Exo 2", sans-serif;
    --scnd-font: "Roboto Mono", monospace;
    --dark-blue: #000032;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: var(--main-font);
    outline: none;
}

img {
    user-select: none;
    pointer-events: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

html {
    background: var(--bg-color);
}

.container {
    max-width: 1545px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.all-btn {
    max-width: 300px;
    width: 100%;
    background: transparent;
    border: solid 1px #fff;
    border-radius: 65px;
    padding: 15px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: .3s;

    &:hover {
        background: var(--main-blue);
        border-color: var(--main-blue);
        box-shadow: 4px 4px 6px #0000004b,-4px -4px 6px #0000004b,inset -4px -4px 6px #fff3,inset 4px 4px 6px rgba(0, 0, 0, 0.274) !important;
    }
}

.all-txt {
    font-size: 17px;
    opacity: .8;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0;
}

.title-span {
    margin-left: 55px;
    animation: glitch 1s linear infinite;
}

@keyframes glitch {
    0%, 100% {
        text-shadow: -2.5px -2.5px 0 cadetblue, 
                        2.5px 2.5px 0 darkred;
    }
    25% {
        text-shadow: 2.5px 2.5px 0 cadetblue, 
                        -2.5px -2.5px 0 darkred;
    }
    50% {
        text-shadow: 2.5px -2.5px 0 cadetblue, 
                        -2.5px 2.5px 0 darkred;
    }
    75% {
        text-shadow: 2.5px 2.5px 0 cadetblue, 
                        2.5px -2.5px 0 darkred;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}